

:root {
    --bg-main: linear-gradient(0deg, #7a4d4a 0%, #2c345a 35%, #010e21 100%);
    --bg-dark: #5c1e0021;
    --text-main: #e2d7e0;
    --text-muted: #bb9ab5;
    --border-solid: #a87777;
    --accent: #ffbd80;
    --accent-dark: #924d8a;
    --accent-hover: #9eafff;
    --bubble: #ffffff22;
    --card-hover: #ff8ef111;
    --trans: linear-gradient(
        90deg,
        #b2c0ff 10%,
        #ffd9fa 30%,
        #ffffff 50%,
        #ffd9fa 70%,
        #b2c0ff 90%);
    --petal-opacity: 50%;
}
